body {
    margin: 0;
    padding: 0;
    background-color: #232d32; /* 코발트 블루 */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    text-align: center;
}

h1 {
    font-size: 48px; /* 큰 글자 크기 */
    color: #e5b969; /* 주황색 */
    font-weight: bold; /* 굵은 글꼴 */
    margin: 0;
}

h2 {
    font-size: 24px; /* 큰 글자 크기 */
    color: #ffa600; /* 주황색 */
    font-weight: bold; /* 굵은 글꼴 */
    margin: 0;
}