/* styles.css */

/* 공통 스타일 */
body {
    margin: 0;
    padding: 0;
    background-color: #232d32; /* 코발트 블루 */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    text-align: center;
}

h1 {
    font-size: 48px; /* 큰 글자 크기 */
    color: #e5b969; /* 주황색 */
    font-weight: bold; /* 굵은 글꼴 */
    margin: 0;
}

h2 {
    font-size: 24px; /* 큰 글자 크기 */
    color: #ffa600; /* 주황색 */
    font-weight: bold; /* 굵은 글꼴 */
    margin: 0;
}

/* 사용자 정보 입력 페이지 스타일 */
.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-group input[type="radio"] {
    margin-right: 10px;
}

.submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

.mbti-test-button {
    display: inline-block;
    background-color: #4CAF50; /* 초록색 */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
}

.mbti-test-button:hover {
    background-color: #45a049; /* 더 진한 초록색 */
}

/* 타로 점 선택 페이지 스타일 */
.button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.button-group button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    color: #FFA500; /* 주황색 텍스트 색상 */
    background-color: transparent; /* 배경색 투명화 */
    border: 2px solid #FFA500; /* 테두리 추가 및 색상 설정 */
}

#selected-card-info {
    margin-top: 20px;
    font-size: 18px;
    color: #FFA500; /* 주황색 텍스트 색상 */
}

#draw-card-button {
    display: none; /* 초기에는 숨김 */
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* 좌우 여백을 자동 조절하여 가운데 정렬 */
    margin-top: 20px;
    padding: 0; /* 패딩 제거 */
    width: 100px; /* 너비 조정 */
    height: 160px; /* 높이 조정 */
    border: none;
    background-color: #232d32; /* 배경 이미지 적용 */
    background-image: url('card_backside.jpg'); /* 배경 이미지 추가 */
    background-size: contain; /* 배경 이미지 크기 조정 */
    background-repeat: no-repeat; /* 배경 이미지 반복 제거 */
    background-position: center; /* 배경 이미지 위치 가운데 정렬 */
}

/* 카드 뽑기 페이지 스타일 */
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.card div {
    cursor: pointer;
    background: #574b8b;
    background-image: url("card_backside.jpg");
    background-size: contain;
    width: 50px; /* 카드 크기 조정 */
    height: 70px; /* 카드 크기 조정 */
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, margin-top 0.3s ease; /* 애니메이션 효과 추가 */
    margin: 5px; /* 카드 간격 조정 */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* 초기에는 투명 상태로 설정 */
    transform: translateY(-50px); /* 초기 위치 */
}

.container .card {
    margin-top: 20px; /* 상단 여백 */
    margin-bottom: 20px; /* 하단 여백 */
}

.card .selected {
    animation: cardSelected 0.5s ease forwards;
    box-shadow: 0 0 10px 5px #6600ff; /* 선택된 상태 그림자 효과 */
}

.submit {
    text-align: center;
    margin-top: 20px;
}

.submit button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
}

/* 애니메이션 효과 */
@keyframes cardSelected {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

/* 타로 점 결과 페이지 스타일 */
.container {
    max-width: 1200px;
    margin: 20px auto; /* 중앙 정렬 */
    display: flex;
    flex-direction: row-reverse; /* 좌우 반전 */
}

.left-container {
    flex: 1; /* 좌우 컨테이너를 1:2 비율로 설정 */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right-container {
    flex: 2; /* 우측 컨테이너 너비를 조정 */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-top: 0;
    color: orange; /* 주황색 */
}

.button-group {
    text-align: right; /* 버튼 그룹을 우측 정렬 */
    margin-top: 20px;
}

.button-group button {
    display: block; /* 버튼을 블록 요소로 설정하여 위에서 아래로 배치 */
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px; /* 버튼 사이 간격 조정 */
    background-color: #007bff;
    color: #fff;
    border: none;
    position: relative; /* 상대적 위치 지정 */
}

.button-group button:last-child {
    margin-bottom: 0; /* 마지막 버튼의 하단 여백 제거 */
}

.button-group button:hover {
    background-color: #0056b3;
}

.button-group .active-label {
    position: absolute; /* 절대 위치 지정 */
    right: 10px; /* 오른쪽 여백 조정 */
    top: 50%; /* 상단 정렬 */
    transform: translateY(-50%); /* 세로 중앙 정렬 */
    font-size: 12px;
    color: green; /* 활성화 색상 지정 */
}

.button-group .checkbox {
    position: absolute; /* 절대 위치 지정 */
    right: 30px; /* 오른쪽 여백 조정 */
    top: 50%; /* 상단 정렬 */
    color: white;
    transform: translateY(-50%); /* 세로 중앙 정렬 */
}

#save-button {
    background-color: #007bff;
    color: #fff;
    border: none;
}

#save-button:hover {
    background-color: #0056b3;
}

/* 카드 이미지 스타일 */
.card {
    max-width: 100px; /* 카드 이미지의 최대 너비를 조정 */
    height: auto; /* 높이 자동 조정 */
    margin-right: 10px; /* 각 카드 이미지 사이의 간격을 조정 */
}

/* 카드 컨테이너 스타일 */
#card-container {
    display: flex;
    justify-content: center;
}

/* 점괘 내용을 숨기는 클래스 */
.hidden {
    display: none;
}

/* 카드가 뒤집힌 상태의 스타일 */
.card.reversed {
    transform: scaleY(-1); /* 위 아래로 뒤집기 */
}
