body {
    font-family: Arial, sans-serif;
    background-color: #232d32; /* 코발트 블루 배경색 */
    margin: 0;
    padding: 20;
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
}

.container {
    max-width: 550px; /* 컨테이너의 최대 너비를 조정합니다 */
    overflow: auto;
    margin: 0 auto; /* 가로 중앙 정렬을 유지합니다 */
    background-color: #fff;
    padding: 60px 20px;
    margin: 20px auto; /* 수평 중앙 정렬 */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


h1 {
    font-size: 36px; 
    margin-bottom: 20px;
    text-align: center; /* 중앙 정렬 */
}

/*글자 기본 크기*/
label[for="birthdate"],
label,
label[for="name"],
label[for="mbti"],
label[for="fortune"]{
    font-size: 16px;
}

/*입력 칸*/
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-group input[type="text"],
.form-group input[type="date"],
.form-group select,
.form-group textarea  {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-group input[type="radio"] {
    margin-right: 10px;
}
.form-group textarea {
    resize: vertical;
}
.submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}
.submit-button:hover {
    background-color: #0056b3;
}
.mbti-test-button {
    display: inline-block;
    background-color: #4CAF50; /* 초록색 */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
}
.mbti-test-button:hover {
    background-color: #45a049; /* 더 진한 초록색 */
}

/* 모바일 스타일 */
@media screen and (hover: none) and (pointer: coarse) {
    .container {
        max-width: 100%; /* 모바일 화면의 가로폭을 넓혀줍니다 */
        padding: 60px; /* 컨테이너 안의 간격을 늘려줍니다 */
        margin: 20px; /* 컨테이너 밖의 간격을 추가합니다 */
    }

    h1 {
        font-size: 60px; /* h2의 폰트 크기를 두 배로 키웁니다 */
        margin-top: -20px; /* h1을 위로 올립니다 */
        margin-bottom: 40px;
    }

    .form-group {
        margin-bottom: 50px; /* 폼 그룹 간격을 늘려줍니다 */
    }
    .form-group label {
        font-size: 40px; /* 라벨의 폰트 크기를 더 키웁니다 */
        margin-bottom: 10px; /* 라벨 아래 간격을 늘려줍니다 */
    }
    .form-group input[type="text"],
    .form-group input[type="date"],
    .form-group textarea {
        padding: 20px; /* 입력 요소의 패딩을 늘려줍니다 */
        font-size: 36px; /* 입력 요소의 폰트 크기를 키웁니다 */
     
        border-radius: 10px; /* 입력 요소의 모서리를 더 둥글게 만듭니다 */
    }
    /*성별 체크 칸*/
    .form-group input[type="radio"] {
        transform: scale(2); /* 라디오 버튼의 크기를 2배로 키움 */
        margin-right: 10px; /* 라디오 버튼과 텍스트 사이의 간격 */
        vertical-align: middle; /* 라디오 버튼을 텍스트와 수직으로 맞춤 */
    }
    
    .form-group select {
        padding: 20px; /* 선택창의 패딩을 늘려줍니다 */
        font-size: 36px; /* 선택창의 폰트 크기를 키웁니다 */
        border-radius: 10px; /* 선택창의 모서리를 둥글게 만듭니다 */
    }
    .form-group select option {
        font-size: 15px; /* 선택지의 폰트 크기를 별도로 설정합니다 */
    }
    .submit-button {
        padding: 20px 40px; /* 버튼의 패딩을 늘려줍니다 */
        font-size: 40px; /* 버튼의 폰트 크기를 키웁니다 */
    }
    .mbti-test-button {
        padding: 20px 40px; /* 버튼의 패딩을 늘려줍니다 */
        font-size: 40px; /* 버튼의 폰트 크기를 키웁니다 */
        margin-top: 20px; /* 버튼 위 간격을 늘려줍니다 */
        margin-bottom: 40px;
    }
    .submit-button {
        padding: 20px 40px;
        margin-bottom: 60px; /* 제출 버튼 아래 여백 추가 */
    }
}
