<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>타로 카드 뽑기</title>
    <link rel="stylesheet" href="public/css/pickcard_styles.css">
</head>
<body>
    <div class="container">
        <h1>타로 카드 뽑기</h1>
        <div class="card-container">
            <div class="card" id="card-box">
                <!-- 카드 레이블들 -->
            </div>
        </div>

        <div class="button-container">
            <div class="count-container">
                <img src="images/zero.png" alt="zero" id="count-image">
            </div>

            <div class="selected-count" id="selected-count"></div>

            <div class="auto-select">
                <button id="auto-select-button">자동 선택</button>
            </div>

            <div class="submit" id="submit-buttons">
                <button id="draw-card-button">결과 확인</button>
            </div>

            <div class="button-group">
                <button id="one-card-button" class="button disabled" style="display:none;">원</button>
                <button id="three-cards-button" class="button disabled" style="display:none;">쓰리</button>
                <button id="four-cards-button" class="button disabled" style="display:none;">포</button>
                <button id="five-cards-button" class="button" style="display:none;">파이브</button>
            </div>
        </div>
        
        <div>
            <button id="major-button" style="display:none;">메이저만 사용</button>
            <button id="major-minor-button" style="display:none;">메이저와 마이너 모두 사용</button>
        </div>
    
    </div>
    <script src="public/script/pickcard_scripts.js"></script>
</body>
</html>