<!--pickcard.html-->
<!DOCTYPE html>
<html lang="ko" data-page="pick-card">
<head>
    <meta charset="UTF-8">
    <title>타로 카드 뽑기</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="card" id="card-box">
            <!-- 카드 레이블들 -->
        </div>
        <div class="submit">
            <button id="draw-card-button">결과 확인</button>
        </div>
        <div>
            <button id="major-button">메이저만 사용</button>
            <button id="major-minor-button">메이저와 마이너 모두 사용</button>
        </div>
        <div>
            <button id="one-card-button">원 카드</button>
            <button id="three-cards-button">쓰리 카드</button>
            <button id="four-cards-button">포 카드</button>
            <button id="five-cards-button">파이브 카드</button>
        </div>
        <form id="card-form" action="taroresult.html" method="get">
            <input type="hidden" id="selected-cards" name="selected-cards">
        </form>
    </div>
    <script src="/script/scripts.js"></script>
</body>
</html>
