<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>타로 점 선택</title>
    <link rel="stylesheet" type="text/css" href="public/css/taromain_styles.css">
</head>
<body>
    <div class="container">
        <h1 style="color: #FFA500;">원하시는 타로 점을 선택하세요</h1>
        <div class="button-group">
            <button id="one-card-button" data-card-limit="1">원카드</button>
            <button id="three-cards-button" data-card-limit="3">쓰리카드</button>
            <button id="four-cards-button" data-card-limit="4">포카드</button>
            <button id="five-cards-button" data-card-limit="5">파이브카드</button>
        </div>
        <div class="button-group">
            <button id="reverse-button">역방향 키기/끄기</button>
            <button id="major-minor-button">메이저와 마이너 모두 사용</button>
        </div>
        <div id="selected-card-info"></div>
        <form id="tarot-form" action="/api/users/tarot" method="post">
                <input type="hidden" id="user-id" name="userId">
                <input type="hidden" id="selected-cards" name="selected_cards">
                <input type="hidden" id="tarotSelection" name="tarotSelection">
                <input type="hidden" id="reverse" name="reverse">
                <input type="hidden" id="majorMinor" name="majorMinor">
            <button id="draw-card-button" type="submit">타로 정보 제출</button>
            <p id="click-prompt" style="display: none;">카드를 클릭하세요</p>
        </form>
    </div>
    <script src="public/script/taromain_scripts.js"></script>
</body>
</html>