<!--taroresult.html-->
<!DOCTYPE html>
<html lang="ko" data-page="taro-result">
<head>
    <meta charset="UTF-8">
    <title>타로 점 결과</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h2>타로 점 결과</h2>
    <div class="container">
        <div class="left-container">
            <div class="button-group">
                <button id="five-cards-button">파이브 카드</button>
                <button id="four-cards-button">포 카드</button>
                <button id="three-cards-button">쓰리 카드</button>
                <button id="one-card-button">원 카드</button>
                <label class="checkbox" style="position: absolute; right: 30px; top: auto; bottom: 10px;">
                    <input type="checkbox" id="reverse-checkbox"> 역방향
                </label>
                <label class="checkbox" style="position: absolute; right: 30px; top: auto; bottom: 30px;">
                    <input type="checkbox" id="major-minor-checkbox"> 메이저/마이너
                </label>
                <button id="restart-button">다시하기</button>
                <button id="save-button">저장</button>
                <button id="show-fortune-button">점괘 보기</button>
            </div>
            <div id="fortune-info" class="hidden">
                <!-- 여기에 점괘 내용이 표시됩니다. -->
            </div>
        </div>
        <div class="right-container">
            <div id="image-container"></div>
            <div id="card-container"></div>
        </div>
    </div>
    <script src="/script/scripts.js"></script>
</body>
</html>
